PORT=4002
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/shop-products?retryWrites=true&w=majority
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=product-service
RABBITMQ_URL=amqp://localhost:5672
