.idea

.env
/services/api/.env
/services/order-service/.env
/services/product-service/.env
/services/user-service/.env

package-lock.json
/services/api/package-lock.json
/services/order-service/package-lock.json
/services/product-service/package-lock.json
/services/user-service/package-lock.json
/shared/package-lock.json


/services/api/dist
/services/order-service/dist
/services/product-service/dist
/services/user-service/dist
/shared/dist

node_modules