PORT=4003
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/shop-orders?retryWrites=true&w=majority
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=order-service
RABBITMQ_URL=amqp://localhost:5672
